services:
#  redis:
#    image: 'redis:latest'
#    ports:
#      - '6379'
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: jnhbgvfc
      POSTGRES_DB: esms
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    networks:
      - postgresql
    volumes:
      - postgresql-volume:/var/lib/postgres

  web:
    build: .
    ports:
      - 80:8080
    depends_on:
      - db
    links:
      - db
    networks:
      - postgresql

networks:
  postgresql:
volumes:
  postgresql-volume: